{% extends "base.html" %}

{% load static %}

{% block localstyle %}
    <link href="{% static 'styles/posts_style.css' %}" rel="stylesheet">
{% endblock %}

{% block headercontent %}
 <div class="header-info">
    <h1> Добро пожаловать на новостную страницу электронной библиотеки! </h1>
 </div>
{% endblock %}

{% block searchform %}
<form method="GET" action="" class="d-flex">
    {% csrf_token %}
    <input name="title" class="form-control me-2" type="search" placeholder="Автор новости" aria-label="Search">
    <button class="btn btn-outline-primary" type="submit">Найти</button>
</form>
{% endblock searchform %}