{% extends "base.html" %}

{% load static %}

{% block localstyle %}
    <link href="{% static 'styles/posts_style.css' %}" rel="stylesheet">
{% endblock %}

{% block headercontent %}
 <div class="header-info">
    <h1> Новостной портал электронной библиотеки </h1>
 </div>
{% endblock %}

{% block searchform %}
<form method="GET" action="" class="d-flex">
    {% csrf_token %}
    <input name="title" class="form-control me-2" type="search" placeholder="Автор" aria-label="Search">
    <button class="btn btn-outline-primary" type="submit">Найти</button>
</form>
{% endblock searchform %}

{% block content %}
    <div style="padding: 20px;" class="container">
        <div class="row">
            <div class="col-12">
              <div class="container">
                    <div class="row">
                    {% for post in posts %}
                        <div class="card mb-3">
                          <img src="{{ post.image }}" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">{{ post.image }}</h5>
                            <p class="card-text">{{ post.text }}</p>
                            <p class="card-text">Автор: {{ post.author }}</p>
                            <p class="card-text"><small class="text-muted">Опубликовано: {{ post.publish_date }}</small></p>
                          </div>
                        </div>
                    {% endfor %}
                    </div>
              </div>
            </div>
        </div>
    </div>
{% endblock content %}
