h1 {
    text-align: center;
    padding: 20px;
    height: 50px;
}

.header-info {
    background-image: url("../img/header-img.jpg");
    height: 150px;
    background-size: cover;
    padding: 25px;
}