{% extends "base.html" %}

{% load static %}

{% block localstyle %}
    <link href="{% static 'styles/book_style.css' %}" rel="stylesheet">
{% endblock %}

{% block headercontent %}
    <div class="header-info">
        <h1> Добро пожаловать в каталог электронной библиотеки! </h1>
    </div>
{% endblock %}

{% block content %}

    <div style="padding: 20px;" class="container">
        <div class="row">
            <div class="col-2">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Показать все</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Классика</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Приключения</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Фантастика</a>
                  </li>
                </ul>
            </div>
            <div class="col-10">
              <div class="container">

                    <div class="row">
                        {% include "book_cards.html" %}
                    </div>

              </div>
            </div>
        </div>
    </div>

{% endblock %}


