{% for book in data %}
          <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="https://static-cse.canva.com/blob/585509/.png" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ book.name }}</h5>
                      <p class="card-text"> {{ book.description|slice:"0:100"|add:"..." }} </p>
                      <p class="card-text"><small class="text-muted">Сейчас читают: {{ book.count_load }}</small></p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
{% endfor %}